/* Decodificador - 1 Desktop */

position: relative;
width: 1440px;
height: 1024px;

/* Light blue/light-blue-100 */
background: #F3F5FC;


/* Rectangle 1 */

position: absolute;
width: 400px;
height: 944px;
left: 1000px;
top: 40px;

/* White */
background: #FFFFFF;
/* shadow */
box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
border-radius: 32px;


/* Digite seu texto */

position: absolute;
width: 680px;
height: 48px;
left: 240px;
top: 168px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 150%;
/* identical to box height, or 48px */

/* Dark blue/dark-blue-300 */
color: #0A3871;



/* Frame 3 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 24px;

position: absolute;
width: 680px;
height: 67px;
left: 240px;
top: 885px;



/* Button */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 24px;
gap: 8px;

width: 328px;
height: 67px;

/* Dark blue/dark-blue-300 */
background: #0A3871;
border-radius: 24px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Button */

width: 280px;
height: 19px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;

/* White */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Button */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 24px;
gap: 8px;

width: 328px;
height: 67px;

/* Light gray */
background: #D8DFE8;
/* Dark blue/dark-blue-300 */
border: 1px solid #0A3871;
border-radius: 24px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Button */

width: 280px;
height: 19px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;

/* Dark blue/dark-blue-300 */
color: #0A3871;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Frame 1 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

position: absolute;
width: 252px;
height: 18px;
left: 240px;
top: 851px;



/* bi:exclamation-circle-fill */

width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Group */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* Gray/gray-400 */
background: #495057;


/* Apenas letras minúsculas e sem acento. */

width: 228px;
height: 18px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 150%;
/* identical to box height, or 18px */

/* Gray/gray-400 */
color: #495057;

opacity: 0.8;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* High quality products 1 1 */

position: absolute;
width: 336px;
height: 304px;
left: 1032px;
top: 283px;



/* background */

position: absolute;
left: 0.02%;
right: -0.01%;
top: 0.06%;
bottom: -0.07%;



/* Group */

position: absolute;
left: 0.02%;
right: 82.45%;
top: 78.36%;
bottom: 17.8%;



/* Group */

position: absolute;
left: 0.02%;
right: 82.45%;
top: 78.36%;
bottom: 17.8%;



/* Vector */

position: absolute;
left: 0.02%;
right: 82.45%;
top: 78.36%;
bottom: 17.8%;

background: #E8E8E8;


/* Group */

position: absolute;
left: 14.91%;
right: 81.13%;
top: 79.95%;
bottom: 18.94%;



/* Group */

position: absolute;
left: 14.91%;
right: 81.13%;
top: 79.95%;
bottom: 18.94%;



/* Vector */

position: absolute;
left: 14.91%;
right: 81.13%;
top: 79.95%;
bottom: 18.94%;

background: #E8E8E8;


/* Group */

position: absolute;
left: 15.03%;
right: 76.77%;
top: 66.95%;
bottom: 19.42%;



/* Group */

position: absolute;
left: 15.03%;
right: 76.77%;
top: 66.95%;
bottom: 19.42%;



/* Vector */

position: absolute;
left: 15.03%;
right: 76.77%;
top: 66.95%;
bottom: 19.42%;

background: #E8E8E8;


/* Group */

position: absolute;
left: 14.9%;
right: 73.03%;
top: 57.24%;
bottom: 20.74%;



/* Group */

position: absolute;
left: 14.9%;
right: 73.03%;
top: 57.24%;
bottom: 20.74%;



/* Vector */

position: absolute;
left: 14.9%;
right: 73.03%;
top: 57.24%;
bottom: 20.74%;

background: #E8E8E8;


/* Group */

position: absolute;
left: 4.02%;
right: 72.76%;
top: 89.22%;
bottom: 7.75%;



/* Group */

position: absolute;
left: 4.02%;
right: 72.76%;
top: 89.22%;
bottom: 7.75%;



/* Vector */

position: absolute;
left: 4.02%;
right: 72.76%;
top: 89.22%;
bottom: 7.75%;

background: #E8E8E8;


/* Group */

position: absolute;
left: 20.74%;
right: 66.53%;
top: 96.01%;
bottom: 0.22%;



/* Group */

position: absolute;
left: 20.74%;
right: 66.53%;
top: 96.01%;
bottom: 0.22%;



/* Vector */

position: absolute;
left: 20.74%;
right: 66.53%;
top: 96.01%;
bottom: 0.22%;

background: #E8E8E8;


/* Group */

position: absolute;
left: 30.99%;
right: 55.18%;
top: 97.92%;
bottom: -0.07%;



/* Group */

position: absolute;
left: 30.99%;
right: 55.18%;
top: 97.92%;
bottom: -0.07%;



/* Vector */

position: absolute;
left: 30.99%;
right: 55.18%;
top: 97.92%;
bottom: -0.07%;

background: #E8E8E8;


/* Group */

position: absolute;
left: 30.42%;
right: 59.81%;
top: 77.54%;
bottom: 1.04%;



/* Group */

position: absolute;
left: 30.42%;
right: 59.81%;
top: 77.54%;
bottom: 1.04%;



/* Vector */

position: absolute;
left: 30.42%;
right: 59.81%;
top: 77.54%;
bottom: 1.04%;

background: #E8E8E8;


/* Group */

position: absolute;
left: 27.13%;
right: 57.45%;
top: 76.42%;
bottom: 20.48%;



/* Group */

position: absolute;
left: 27.13%;
right: 57.45%;
top: 76.42%;
bottom: 20.48%;



/* Vector */

position: absolute;
left: 27.13%;
right: 57.45%;
top: 76.42%;
bottom: 20.48%;

background: #E8E8E8;


/* Group */

position: absolute;
left: 40.57%;
right: 53.52%;
top: 77.51%;
bottom: 20.78%;



/* Group */

position: absolute;
left: 40.57%;
right: 53.52%;
top: 77.51%;
bottom: 20.78%;



/* Vector */

position: absolute;
left: 40.57%;
right: 53.52%;
top: 77.51%;
bottom: 20.78%;

background: #E8E8E8;


/* Group */

position: absolute;
left: 56.24%;
right: 10.57%;
top: 93.64%;
bottom: 3.31%;



/* Group */

position: absolute;
left: 56.24%;
right: 10.57%;
top: 93.64%;
bottom: 3.31%;



/* Vector */

position: absolute;
left: 56.24%;
right: 10.57%;
top: 93.64%;
bottom: 3.31%;

background: #E8E8E8;


/* Group */

position: absolute;
left: 64.94%;
right: 10.58%;
top: 84.5%;
bottom: 12.25%;



/* Group */

position: absolute;
left: 64.94%;
right: 10.58%;
top: 84.5%;
bottom: 12.25%;



/* Vector */

position: absolute;
left: 64.94%;
right: 10.58%;
top: 84.5%;
bottom: 12.25%;

background: #E8E8E8;


/* Group */

position: absolute;
left: 83.9%;
right: -0.01%;
top: 73.5%;
bottom: 22.7%;



/* Group */

position: absolute;
left: 83.9%;
right: -0.01%;
top: 73.5%;
bottom: 22.7%;



/* Vector */

position: absolute;
left: 83.9%;
right: -0.01%;
top: 73.5%;
bottom: 22.7%;

background: #E8E8E8;


/* Group */

position: absolute;
left: 38.57%;
right: 41.57%;
top: 70.59%;
bottom: 24.2%;



/* Group */

position: absolute;
left: 38.57%;
right: 41.57%;
top: 70.59%;
bottom: 24.2%;



/* Vector */

position: absolute;
left: 38.57%;
right: 41.57%;
top: 70.59%;
bottom: 24.2%;

background: #E8E8E8;


/* Group */

position: absolute;
left: 84.83%;
right: 8.38%;
top: 75.18%;
bottom: 14.12%;



/* Group */

position: absolute;
left: 84.83%;
right: 8.38%;
top: 75.18%;
bottom: 14.12%;



/* Vector */

position: absolute;
left: 84.83%;
right: 8.38%;
top: 75.18%;
bottom: 14.12%;

background: #E8E8E8;


/* Group */

position: absolute;
left: 27.34%;
right: 63.64%;
top: 68.65%;
bottom: 29.94%;



/* Group */

position: absolute;
left: 27.34%;
right: 63.64%;
top: 68.65%;
bottom: 29.94%;



/* Vector */

position: absolute;
left: 27.34%;
right: 63.64%;
top: 68.65%;
bottom: 29.94%;

background: #E8E8E8;


/* Group */

position: absolute;
left: 77.41%;
right: 4.84%;
top: 7.37%;
bottom: 90.84%;



/* Group */

position: absolute;
left: 77.41%;
right: 4.84%;
top: 7.37%;
bottom: 90.84%;



/* Vector */

position: absolute;
left: 77.41%;
right: 4.84%;
top: 7.37%;
bottom: 90.84%;

background: #E8E8E8;


/* Group */

position: absolute;
left: 80.48%;
right: 19.29%;
top: 14.36%;
bottom: 85.37%;



/* Group */

position: absolute;
left: 80.48%;
right: 19.29%;
top: 14.36%;
bottom: 85.37%;



/* Vector */

position: absolute;
left: 80.48%;
right: 19.29%;
top: 14.36%;
bottom: 85.37%;

background: #E8E8E8;


/* Group */

position: absolute;
left: 82.02%;
right: 3.97%;
top: 14.65%;
bottom: 84.24%;



/* Group */

position: absolute;
left: 82.02%;
right: 3.97%;
top: 14.65%;
bottom: 84.24%;



/* Vector */

position: absolute;
left: 82.02%;
right: 3.97%;
top: 14.65%;
bottom: 84.24%;

background: #E8E8E8;


/* Group */

position: absolute;
left: 74.03%;
right: 13.04%;
top: 25.67%;
bottom: 73.2%;



/* Group */

position: absolute;
left: 74.03%;
right: 13.04%;
top: 25.67%;
bottom: 73.2%;



/* Vector */

position: absolute;
left: 74.03%;
right: 13.04%;
top: 25.67%;
bottom: 73.2%;

background: #E8E8E8;


/* Group */

position: absolute;
left: 26.92%;
right: 72.84%;
top: 6.4%;
bottom: 93.33%;



/* Group */

position: absolute;
left: 26.92%;
right: 72.84%;
top: 6.4%;
bottom: 93.33%;



/* Vector */

position: absolute;
left: 26.92%;
right: 72.84%;
top: 6.4%;
bottom: 93.33%;

background: #E8E8E8;


/* Group */

position: absolute;
left: 27.54%;
right: 60.03%;
top: 6.11%;
bottom: 92.74%;



/* Group */

position: absolute;
left: 27.54%;
right: 60.03%;
top: 6.11%;
bottom: 92.74%;



/* Vector */

position: absolute;
left: 27.54%;
right: 60.03%;
top: 6.11%;
bottom: 92.74%;

background: #E8E8E8;


/* Group */

position: absolute;
left: 28.37%;
right: 60.13%;
top: 59.52%;
bottom: 39.56%;



/* Group */

position: absolute;
left: 28.37%;
right: 60.13%;
top: 59.52%;
bottom: 39.56%;



/* Vector */

position: absolute;
left: 28.37%;
right: 60.13%;
top: 59.52%;
bottom: 39.56%;

background: #E8E8E8;


/* Vector */

position: absolute;
left: 9.41%;
right: 87.99%;
top: 43.67%;
bottom: 53.46%;

/* Dark blue/dark-blue-300 */
background: #0A3871;


/* Vector */

position: absolute;
left: 85.54%;
right: 12.63%;
top: 34.66%;
bottom: 63.33%;

/* Dark blue/dark-blue-300 */
background: #0A3871;


/* Vector */

position: absolute;
left: 77.55%;
right: 21.1%;
top: 0.06%;
bottom: 98.45%;

/* Dark blue/dark-blue-300 */
background: #0A3871;


/* Vector */

position: absolute;
left: 47.64%;
right: 50.68%;
top: 64.29%;
bottom: 33.86%;

/* Dark blue/dark-blue-300 */
background: #0A3871;


/* Vector */

position: absolute;
left: 8.79%;
right: 89.28%;
top: 11.39%;
bottom: 86.48%;

/* Dark blue/dark-blue-300 */
background: #0A3871;


/* Vector */

position: absolute;
left: 42.42%;
right: 56.47%;
top: 49.59%;
bottom: 49.19%;

/* Dark blue/dark-blue-300 */
background: #0A3871;


/* Vector */

position: absolute;
left: 94.22%;
right: 4.1%;
top: 54.13%;
bottom: 44.01%;

/* Dark blue/dark-blue-300 */
background: #0A3871;


/* Vector */

position: absolute;
left: 2.87%;
right: 95.88%;
top: 69.92%;
bottom: 28.7%;

/* Dark blue/dark-blue-300 */
background: #0A3871;


/* diamod */

position: absolute;
left: 21.84%;
right: 55.21%;
top: 7.49%;
bottom: 64.22%;



/* Vector */

position: absolute;
left: 26.93%;
right: 56.71%;
top: 17.11%;
bottom: 64.37%;

/* White */
background: #FFFFFF;


/* Group */

position: absolute;
left: 26.81%;
right: 71.03%;
top: 17.82%;
bottom: 77.38%;



/* Group */

position: absolute;
left: 26.81%;
right: 71.03%;
top: 17.82%;
bottom: 77.38%;



/* Vector */

position: absolute;
left: 26.81%;
right: 71.03%;
top: 17.82%;
bottom: 77.38%;

background: #000000;


/* Group */

position: absolute;
left: 26.85%;
right: 64.06%;
top: 22.52%;
bottom: 64.22%;



/* Group */

position: absolute;
left: 26.85%;
right: 64.06%;
top: 22.52%;
bottom: 64.22%;



/* Vector */

position: absolute;
left: 26.85%;
right: 64.06%;
top: 22.52%;
bottom: 64.22%;

background: #000000;


/* Group */

position: absolute;
left: 28.83%;
right: 69.89%;
top: 17.01%;
bottom: 82.11%;



/* Group */

position: absolute;
left: 28.83%;
right: 69.89%;
top: 17.01%;
bottom: 82.11%;



/* Vector */

position: absolute;
left: 28.83%;
right: 69.89%;
top: 17.01%;
bottom: 82.11%;

background: #000000;


/* Group */

position: absolute;
left: 30.13%;
right: 61.91%;
top: 17.01%;
bottom: 82.72%;



/* Group */

position: absolute;
left: 30.13%;
right: 61.91%;
top: 17.01%;
bottom: 82.72%;



/* Vector */

position: absolute;
left: 30.13%;
right: 61.91%;
top: 17.01%;
bottom: 82.72%;

background: #000000;


/* Group */

position: absolute;
left: 41.55%;
right: 56.59%;
top: 17.81%;
bottom: 77.41%;



/* Group */

position: absolute;
left: 41.55%;
right: 56.59%;
top: 17.81%;
bottom: 77.41%;



/* Vector */

position: absolute;
left: 41.55%;
right: 56.59%;
top: 17.81%;
bottom: 77.41%;

background: #000000;


/* Group */

position: absolute;
left: 35.72%;
right: 56.63%;
top: 22.49%;
bottom: 64.25%;



/* Group */

position: absolute;
left: 35.72%;
right: 56.63%;
top: 22.49%;
bottom: 64.25%;



/* Vector */

position: absolute;
left: 35.72%;
right: 56.63%;
top: 22.49%;
bottom: 64.25%;

background: #000000;


/* Group */

position: absolute;
left: 40.61%;
right: 58.29%;
top: 16.99%;
bottom: 82.12%;



/* Group */

position: absolute;
left: 40.61%;
right: 58.29%;
top: 16.99%;
bottom: 82.12%;



/* Vector */

position: absolute;
left: 40.61%;
right: 58.29%;
top: 16.99%;
bottom: 82.12%;

background: #000000;


/* Group */

position: absolute;
left: 33.95%;
right: 59.38%;
top: 16.98%;
bottom: 82.75%;



/* Group */

position: absolute;
left: 33.95%;
right: 59.38%;
top: 16.98%;
bottom: 82.75%;



/* Vector */

position: absolute;
left: 33.95%;
right: 59.38%;
top: 16.98%;
bottom: 82.75%;

background: #000000;


/* Group */

position: absolute;
left: 26.95%;
right: 68.38%;
top: 20.34%;
bottom: 77.3%;



/* Group */

position: absolute;
left: 26.95%;
right: 68.38%;
top: 20.34%;
bottom: 77.3%;



/* Vector */

position: absolute;
left: 26.95%;
right: 68.38%;
top: 20.34%;
bottom: 77.3%;

background: #000000;


/* Group */

position: absolute;
left: 28.97%;
right: 68.11%;
top: 17.52%;
bottom: 81.56%;



/* Group */

position: absolute;
left: 28.97%;
right: 68.11%;
top: 17.52%;
bottom: 81.56%;



/* Vector */

position: absolute;
left: 28.97%;
right: 68.11%;
top: 17.52%;
bottom: 81.56%;

background: #000000;


/* Group */

position: absolute;
left: 31.66%;
right: 67.57%;
top: 18.22%;
bottom: 79.45%;



/* Group */

position: absolute;
left: 31.66%;
right: 67.57%;
top: 18.22%;
bottom: 79.45%;



/* Vector */

position: absolute;
left: 31.66%;
right: 67.57%;
top: 18.22%;
bottom: 79.45%;

background: #000000;


/* Group */

position: absolute;
left: 31.93%;
right: 61.22%;
top: 18.14%;
bottom: 81.58%;



/* Group */

position: absolute;
left: 31.93%;
right: 61.22%;
top: 18.14%;
bottom: 81.58%;



/* Vector */

position: absolute;
left: 31.93%;
right: 61.22%;
top: 18.14%;
bottom: 81.58%;

background: #000000;


/* Group */

position: absolute;
left: 38.3%;
right: 61.21%;
top: 18.37%;
bottom: 79.85%;



/* Group */

position: absolute;
left: 38.3%;
right: 61.21%;
top: 18.37%;
bottom: 79.85%;



/* Vector */

position: absolute;
left: 38.3%;
right: 61.21%;
top: 18.37%;
bottom: 79.85%;

background: #000000;


/* Group */

position: absolute;
left: 32.2%;
right: 61.77%;
top: 20.2%;
bottom: 79.53%;



/* Group */

position: absolute;
left: 32.2%;
right: 61.77%;
top: 20.2%;
bottom: 79.53%;



/* Vector */

position: absolute;
left: 32.2%;
right: 61.77%;
top: 20.2%;
bottom: 79.53%;

background: #000000;


/* Group */

position: absolute;
left: 38.74%;
right: 58.33%;
top: 17.52%;
bottom: 81.58%;



/* Group */

position: absolute;
left: 38.74%;
right: 58.33%;
top: 17.52%;
bottom: 81.58%;



/* Vector */

position: absolute;
left: 38.74%;
right: 58.33%;
top: 17.52%;
bottom: 81.58%;

background: #000000;


/* Group */

position: absolute;
left: 38.4%;
right: 56.55%;
top: 20.12%;
bottom: 77.29%;



/* Group */

position: absolute;
left: 38.4%;
right: 56.55%;
top: 20.12%;
bottom: 77.29%;



/* Vector */

position: absolute;
left: 38.4%;
right: 56.55%;
top: 20.12%;
bottom: 77.29%;

background: #000000;


/* Group */

position: absolute;
left: 32.39%;
right: 64.16%;
top: 20.71%;
bottom: 64.4%;



/* Group */

position: absolute;
left: 32.39%;
right: 64.16%;
top: 20.71%;
bottom: 64.4%;



/* Vector */

position: absolute;
left: 32.39%;
right: 64.16%;
top: 20.71%;
bottom: 64.4%;

background: #000000;


/* Group */

position: absolute;
left: 35.66%;
right: 61.61%;
top: 21.11%;
bottom: 64.42%;



/* Group */

position: absolute;
left: 35.66%;
right: 61.61%;
top: 21.11%;
bottom: 64.42%;



/* Vector */

position: absolute;
left: 35.66%;
right: 61.61%;
top: 21.11%;
bottom: 64.42%;

background: #000000;


/* Group */

position: absolute;
left: 37.98%;
right: 61.17%;
top: 8.72%;
bottom: 87.79%;



/* Group */

position: absolute;
left: 37.98%;
right: 61.17%;
top: 8.72%;
bottom: 87.79%;



/* Vector */

position: absolute;
left: 37.98%;
right: 61.17%;
top: 8.72%;
bottom: 87.79%;

background: #000000;


/* Group */

position: absolute;
left: 39.71%;
right: 57.35%;
top: 9.44%;
bottom: 87.66%;



/* Group */

position: absolute;
left: 39.71%;
right: 57.35%;
top: 9.44%;
bottom: 87.66%;



/* Vector */

position: absolute;
left: 39.71%;
right: 57.35%;
top: 9.44%;
bottom: 87.66%;

background: #000000;


/* Group */

position: absolute;
left: 41.38%;
right: 55.21%;
top: 13.31%;
bottom: 86.01%;



/* Group */

position: absolute;
left: 41.38%;
right: 55.21%;
top: 13.31%;
bottom: 86.01%;



/* Vector */

position: absolute;
left: 41.38%;
right: 55.21%;
top: 13.31%;
bottom: 86.01%;

background: #000000;


/* Group */

position: absolute;
left: 21.84%;
right: 75.54%;
top: 7.49%;
bottom: 83.62%;



/* Group */

position: absolute;
left: 21.84%;
right: 75.54%;
top: 7.49%;
bottom: 83.62%;



/* Vector */

position: absolute;
left: 21.84%;
right: 75.54%;
top: 7.49%;
bottom: 83.62%;

background: #E8E8E8;


/* Group */

position: absolute;
left: 24.24%;
right: 73.14%;
top: 7.49%;
bottom: 83.6%;



/* Group */

position: absolute;
left: 24.24%;
right: 73.14%;
top: 7.49%;
bottom: 83.6%;



/* Vector */

position: absolute;
left: 24.24%;
right: 73.14%;
top: 7.49%;
bottom: 83.6%;

background: #E8E8E8;


/* leg_right */

position: absolute;
left: 45.04%;
right: 23.89%;
top: 62.92%;
bottom: 10.62%;



/* Vector */

position: absolute;
left: 64.37%;
right: 24.03%;
top: 72.2%;
bottom: 20.81%;

background: #000000;


/* Vector */

position: absolute;
left: 45.1%;
right: 30.41%;
top: 62.92%;
bottom: 10.74%;

/* White */
background: #FFFFFF;


/* Vector */

position: absolute;
left: 49.9%;
right: 31.66%;
top: 65.17%;
bottom: 15.59%;

background: #9B9797;
opacity: 0.18;


/* Group */

position: absolute;
left: 45.04%;
right: 33.95%;
top: 64.15%;
bottom: 10.62%;



/* Group */

position: absolute;
left: 45.04%;
right: 33.95%;
top: 64.15%;
bottom: 10.62%;



/* Vector */

position: absolute;
left: 45.04%;
right: 33.95%;
top: 64.15%;
bottom: 10.62%;

background: #000000;


/* Group */

position: absolute;
left: 52.68%;
right: 33.26%;
top: 71.79%;
bottom: 17.2%;



/* Group */

position: absolute;
left: 52.68%;
right: 33.26%;
top: 71.79%;
bottom: 17.2%;



/* Vector */

position: absolute;
left: 52.68%;
right: 33.26%;
top: 71.79%;
bottom: 17.2%;

background: #000000;


/* Group */

position: absolute;
left: 63.54%;
right: 33.94%;
top: 74.92%;
bottom: 18.7%;



/* Group */

position: absolute;
left: 63.54%;
right: 33.94%;
top: 74.92%;
bottom: 18.7%;



/* Vector */

position: absolute;
left: 63.54%;
right: 33.94%;
top: 74.92%;
bottom: 18.7%;

background: #000000;


/* Group */

position: absolute;
left: 65.61%;
right: 31.43%;
top: 76.34%;
bottom: 21.35%;



/* Group */

position: absolute;
left: 65.61%;
right: 31.43%;
top: 76.34%;
bottom: 21.35%;



/* Vector */

position: absolute;
left: 65.61%;
right: 31.43%;
top: 76.34%;
bottom: 21.35%;

background: #000000;


/* Group */

position: absolute;
left: 64.26%;
right: 32.99%;
top: 73.98%;
bottom: 24.05%;



/* Group */

position: absolute;
left: 64.26%;
right: 32.99%;
top: 73.98%;
bottom: 24.05%;



/* Vector */

position: absolute;
left: 64.26%;
right: 32.99%;
top: 73.98%;
bottom: 24.05%;

background: #000000;


/* Group */

position: absolute;
left: 66.76%;
right: 33.01%;
top: 73.82%;
bottom: 25.91%;



/* Group */

position: absolute;
left: 66.76%;
right: 33.01%;
top: 73.82%;
bottom: 25.91%;



/* Vector */

position: absolute;
left: 66.76%;
right: 33.01%;
top: 73.82%;
bottom: 25.91%;

background: #000000;


/* Group */

position: absolute;
left: 66.92%;
right: 23.95%;
top: 72.14%;
bottom: 25.48%;



/* Group */

position: absolute;
left: 66.92%;
right: 23.95%;
top: 72.14%;
bottom: 25.48%;



/* Vector */

position: absolute;
left: 66.92%;
right: 23.95%;
top: 72.14%;
bottom: 25.48%;

background: #000000;


/* Group */

position: absolute;
left: 68.33%;
right: 23.89%;
top: 74.26%;
bottom: 23.2%;



/* Group */

position: absolute;
left: 68.33%;
right: 23.89%;
top: 74.26%;
bottom: 23.2%;



/* Vector */

position: absolute;
left: 68.33%;
right: 23.89%;
top: 74.26%;
bottom: 23.2%;

background: #000000;


/* leg_left */

position: absolute;
left: 51.77%;
right: 12.09%;
top: 63.13%;
bottom: 7.9%;



/* Vector */

position: absolute;
left: 74.68%;
right: 12.19%;
top: 71.28%;
bottom: 21.77%;

background: #000000;


/* Vector */

position: absolute;
left: 51.83%;
right: 22.74%;
top: 63.27%;
bottom: 8%;

/* White */
background: #FFFFFF;


/* Vector */

position: absolute;
left: 60.26%;
right: 23.4%;
top: 63.28%;
bottom: 13.09%;

background: #9B9797;
opacity: 0.18;


/* Group */

position: absolute;
left: 64.59%;
right: 23.63%;
top: 63.13%;
bottom: 16.01%;



/* Group */

position: absolute;
left: 64.59%;
right: 23.63%;
top: 63.13%;
bottom: 16.01%;



/* Vector */

position: absolute;
left: 64.59%;
right: 23.63%;
top: 63.13%;
bottom: 16.01%;

background: #000000;


/* Group */

position: absolute;
left: 62.98%;
right: 35.75%;
top: 66.96%;
bottom: 32.17%;



/* Group */

position: absolute;
left: 62.98%;
right: 35.75%;
top: 66.96%;
bottom: 32.17%;



/* Vector */

position: absolute;
left: 62.98%;
right: 35.75%;
top: 66.96%;
bottom: 32.17%;

background: #000000;


/* Group */

position: absolute;
left: 51.77%;
right: 22.68%;
top: 67.67%;
bottom: 7.9%;



/* Group */

position: absolute;
left: 51.77%;
right: 22.68%;
top: 67.67%;
bottom: 7.9%;



/* Vector */

position: absolute;
left: 51.77%;
right: 22.68%;
top: 67.67%;
bottom: 7.9%;

background: #000000;


/* Group */

position: absolute;
left: 74.21%;
right: 22.61%;
top: 74.64%;
bottom: 20.71%;



/* Group */

position: absolute;
left: 74.21%;
right: 22.61%;
top: 74.64%;
bottom: 20.71%;



/* Vector */

position: absolute;
left: 74.21%;
right: 22.61%;
top: 74.64%;
bottom: 20.71%;

background: #000000;


/* Group */

position: absolute;
left: 74.62%;
right: 23.31%;
top: 73.4%;
bottom: 24.87%;



/* Group */

position: absolute;
left: 74.62%;
right: 23.31%;
top: 73.4%;
bottom: 24.87%;



/* Vector */

position: absolute;
left: 74.62%;
right: 23.31%;
top: 73.4%;
bottom: 24.87%;

background: #000000;


/* Group */

position: absolute;
left: 76.51%;
right: 12.53%;
top: 71.16%;
bottom: 26.35%;



/* Group */

position: absolute;
left: 76.51%;
right: 12.53%;
top: 71.16%;
bottom: 26.35%;



/* Vector */

position: absolute;
left: 76.51%;
right: 12.53%;
top: 71.16%;
bottom: 26.35%;

background: #000000;


/* Group */

position: absolute;
left: 76.94%;
right: 20.99%;
top: 76.12%;
bottom: 22.03%;



/* Group */

position: absolute;
left: 76.94%;
right: 20.99%;
top: 76.12%;
bottom: 22.03%;



/* Vector */

position: absolute;
left: 76.94%;
right: 20.99%;
top: 76.12%;
bottom: 22.03%;

background: #000000;


/* Group */

position: absolute;
left: 78.86%;
right: 12.09%;
top: 72.71%;
bottom: 23.46%;



/* Group */

position: absolute;
left: 78.86%;
right: 12.09%;
top: 72.71%;
bottom: 23.46%;



/* Vector */

position: absolute;
left: 78.86%;
right: 12.09%;
top: 72.71%;
bottom: 23.46%;

background: #000000;


/* torso */

position: absolute;
left: 57.34%;
right: 23.65%;
top: 33.04%;
bottom: 34.19%;



/* Vector */

position: absolute;
left: 57.34%;
right: 23.65%;
top: 33.04%;
bottom: 34.19%;

/* Dark blue/dark-blue-300 */
background: #0A3871;


/* hand_left */

position: absolute;
left: 55.74%;
right: 22.63%;
top: 37.6%;
bottom: 29.4%;



/* Vector */

position: absolute;
left: 55.87%;
right: 22.75%;
top: 37.82%;
bottom: 29.55%;

/* White */
background: #FFFFFF;


/* Vector */

position: absolute;
left: 57.71%;
right: 22.76%;
top: 38%;
bottom: 29.53%;

background: #9B9797;
opacity: 0.25;


/* Group */

position: absolute;
left: 71.8%;
right: 27.5%;
top: 38.53%;
bottom: 44.92%;



/* Group */

position: absolute;
left: 71.8%;
right: 27.5%;
top: 38.53%;
bottom: 44.92%;



/* Vector */

position: absolute;
left: 71.8%;
right: 27.5%;
top: 38.53%;
bottom: 44.92%;

background: #000000;


/* Group */

position: absolute;
left: 63.5%;
right: 27.5%;
top: 54.69%;
bottom: 37.61%;



/* Group */

position: absolute;
left: 63.5%;
right: 27.5%;
top: 54.69%;
bottom: 37.61%;



/* Vector */

position: absolute;
left: 63.5%;
right: 27.5%;
top: 54.69%;
bottom: 37.61%;

background: #000000;


/* Group */

position: absolute;
left: 58.37%;
right: 36.29%;
top: 61.12%;
bottom: 36.28%;



/* Group */

position: absolute;
left: 58.37%;
right: 36.29%;
top: 61.12%;
bottom: 36.28%;



/* Vector */

position: absolute;
left: 58.37%;
right: 36.29%;
top: 61.12%;
bottom: 36.28%;

background: #000000;


/* Group */

position: absolute;
left: 55.74%;
right: 38.77%;
top: 63.64%;
bottom: 30.22%;



/* Group */

position: absolute;
left: 55.74%;
right: 38.77%;
top: 63.64%;
bottom: 30.22%;



/* Vector */

position: absolute;
left: 55.74%;
right: 38.77%;
top: 63.64%;
bottom: 30.22%;

background: #000000;


/* Group */

position: absolute;
left: 64.17%;
right: 23.92%;
top: 58.81%;
bottom: 34.3%;



/* Group */

position: absolute;
left: 64.17%;
right: 23.92%;
top: 58.81%;
bottom: 34.3%;



/* Vector */

position: absolute;
left: 64.17%;
right: 23.92%;
top: 58.81%;
bottom: 34.3%;

background: #000000;


/* Group */

position: absolute;
left: 72.18%;
right: 22.63%;
top: 37.6%;
bottom: 40.71%;



/* Group */

position: absolute;
left: 72.18%;
right: 22.63%;
top: 37.6%;
bottom: 40.71%;



/* Vector */

position: absolute;
left: 72.18%;
right: 22.63%;
top: 37.6%;
bottom: 40.71%;

background: #000000;


/* Group */

position: absolute;
left: 56.84%;
right: 35.63%;
top: 65.4%;
bottom: 29.4%;



/* Group */

position: absolute;
left: 56.84%;
right: 35.63%;
top: 65.4%;
bottom: 29.4%;



/* Vector */

position: absolute;
left: 56.84%;
right: 35.63%;
top: 65.4%;
bottom: 29.4%;

background: #000000;


/* Group */

position: absolute;
left: 60.24%;
right: 36.97%;
top: 66.83%;
bottom: 30.01%;



/* Group */

position: absolute;
left: 60.24%;
right: 36.97%;
top: 66.83%;
bottom: 30.01%;



/* Vector */

position: absolute;
left: 60.24%;
right: 36.97%;
top: 66.83%;
bottom: 30.01%;

background: #000000;


/* Group */

position: absolute;
left: 58.28%;
right: 40.07%;
top: 68.15%;
bottom: 30.58%;



/* Group */

position: absolute;
left: 58.28%;
right: 40.07%;
top: 68.15%;
bottom: 30.58%;



/* Vector */

position: absolute;
left: 58.28%;
right: 40.07%;
top: 68.15%;
bottom: 30.58%;

background: #000000;


/* heda */

position: absolute;
left: 55.01%;
right: 24.91%;
top: 5.71%;
bottom: 63.07%;



/* Vector */

position: absolute;
left: 55.26%;
right: 29.27%;
top: 13.76%;
bottom: 63.22%;

/* White */
background: #FFFFFF;


/* Vector */

position: absolute;
left: 60.2%;
right: 27.93%;
top: 16.82%;
bottom: 64.24%;

background: #9B9797;
opacity: 0.24;


/* Vector */

position: absolute;
left: 55.79%;
right: 24.91%;
top: 5.71%;
bottom: 72.26%;

/* Dark blue/dark-blue-300 */
background: #0A3871;


/* Group */

position: absolute;
left: 55.14%;
right: 40.26%;
top: 18.99%;
bottom: 66.09%;



/* Group */

position: absolute;
left: 55.14%;
right: 40.26%;
top: 18.99%;
bottom: 66.09%;



/* Vector */

position: absolute;
left: 55.14%;
right: 40.26%;
top: 18.99%;
bottom: 66.09%;

background: #000000;


/* Group */

position: absolute;
left: 59.65%;
right: 32.37%;
top: 26.13%;
bottom: 66.14%;



/* Group */

position: absolute;
left: 59.65%;
right: 32.37%;
top: 26.13%;
bottom: 66.14%;



/* Vector */

position: absolute;
left: 59.65%;
right: 32.37%;
top: 26.13%;
bottom: 66.14%;

background: #000000;


/* Group */

position: absolute;
left: 67.35%;
right: 29.12%;
top: 21.52%;
bottom: 73.33%;



/* Group */

position: absolute;
left: 67.35%;
right: 29.12%;
top: 21.52%;
bottom: 73.33%;



/* Vector */

position: absolute;
left: 67.35%;
right: 29.12%;
top: 21.52%;
bottom: 73.33%;

background: #000000;


/* Group */

position: absolute;
left: 67.22%;
right: 32.02%;
top: 26.26%;
bottom: 66.01%;



/* Group */

position: absolute;
left: 67.22%;
right: 32.02%;
top: 26.26%;
bottom: 66.01%;



/* Vector */

position: absolute;
left: 67.22%;
right: 32.02%;
top: 26.26%;
bottom: 66.01%;

background: #000000;


/* Group */

position: absolute;
left: 63.13%;
right: 35.44%;
top: 32.41%;
bottom: 63.07%;



/* Group */

position: absolute;
left: 63.13%;
right: 35.44%;
top: 32.41%;
bottom: 63.07%;



/* Vector */

position: absolute;
left: 63.13%;
right: 35.44%;
top: 32.41%;
bottom: 63.07%;

background: #000000;


/* Group */

position: absolute;
left: 64.35%;
right: 31.95%;
top: 33.59%;
bottom: 63.11%;



/* Group */

position: absolute;
left: 64.35%;
right: 31.95%;
top: 33.59%;
bottom: 63.11%;



/* Vector */

position: absolute;
left: 64.35%;
right: 31.95%;
top: 33.59%;
bottom: 63.11%;

background: #000000;


/* Group */

position: absolute;
left: 63.22%;
right: 33.59%;
top: 29.24%;
bottom: 67.1%;



/* Group */

position: absolute;
left: 63.22%;
right: 33.59%;
top: 29.24%;
bottom: 67.1%;



/* Vector */

position: absolute;
left: 63.22%;
right: 33.59%;
top: 29.24%;
bottom: 67.1%;

background: #000000;


/* Group */

position: absolute;
left: 63.17%;
right: 34.65%;
top: 30.82%;
bottom: 67.23%;



/* Group */

position: absolute;
left: 63.17%;
right: 34.65%;
top: 30.82%;
bottom: 67.23%;



/* Vector */

position: absolute;
left: 63.17%;
right: 34.65%;
top: 30.82%;
bottom: 67.23%;

background: #000000;


/* Group */

position: absolute;
left: 57.73%;
right: 41.06%;
top: 19.51%;
bottom: 73.22%;



/* Group */

position: absolute;
left: 57.73%;
right: 41.06%;
top: 19.51%;
bottom: 73.22%;



/* Vector */

position: absolute;
left: 57.73%;
right: 41.06%;
top: 19.51%;
bottom: 73.22%;

background: #000000;


/* Group */

position: absolute;
left: 58.2%;
right: 40.41%;
top: 27.21%;
bottom: 69.63%;



/* Group */

position: absolute;
left: 58.2%;
right: 40.41%;
top: 27.21%;
bottom: 69.63%;



/* Vector */

position: absolute;
left: 58.2%;
right: 40.41%;
top: 27.21%;
bottom: 69.63%;

background: #000000;


/* Group */

position: absolute;
left: 60.54%;
right: 37.23%;
top: 21.72%;
bottom: 77.09%;



/* Group */

position: absolute;
left: 60.54%;
right: 37.23%;
top: 21.72%;
bottom: 77.09%;



/* Vector */

position: absolute;
left: 60.54%;
right: 37.23%;
top: 21.72%;
bottom: 77.09%;

background: #000000;


/* Group */

position: absolute;
left: 59.83%;
right: 36.12%;
top: 17.45%;
bottom: 80.62%;



/* Group */

position: absolute;
left: 59.83%;
right: 36.12%;
top: 17.45%;
bottom: 80.62%;



/* Vector */

position: absolute;
left: 59.83%;
right: 36.12%;
top: 17.45%;
bottom: 80.62%;

background: #000000;


/* Group */

position: absolute;
left: 55.01%;
right: 42.15%;
top: 17.71%;
bottom: 80.9%;



/* Group */

position: absolute;
left: 55.01%;
right: 42.15%;
top: 17.71%;
bottom: 80.9%;



/* Vector */

position: absolute;
left: 55.01%;
right: 42.15%;
top: 17.71%;
bottom: 80.9%;

background: #000000;


/* Vector */

position: absolute;
left: 56.42%;
right: 43.05%;
top: 20.48%;
bottom: 76.85%;

background: #000000;


/* hand_right */

position: absolute;
left: 43.51%;
right: 40.24%;
top: 15.97%;
bottom: 46.81%;



/* Vector */

position: absolute;
left: 43.64%;
right: 42.05%;
top: 24.95%;
bottom: 46.96%;

/* White */
background: #FFFFFF;


/* Vector */

position: absolute;
left: 43.57%;
right: 42.27%;
top: 29.23%;
bottom: 46.99%;

background: #9B9797;
opacity: 0.24;


/* Group */

position: absolute;
left: 51.59%;
right: 42.42%;
top: 37.39%;
bottom: 53.63%;



/* Group */

position: absolute;
left: 51.59%;
right: 42.42%;
top: 37.39%;
bottom: 53.63%;



/* Vector */

position: absolute;
left: 51.59%;
right: 42.42%;
top: 37.39%;
bottom: 53.63%;

background: #000000;


/* Group */

position: absolute;
left: 50.14%;
right: 42.15%;
top: 47.14%;
bottom: 46.81%;



/* Group */

position: absolute;
left: 50.14%;
right: 42.15%;
top: 47.14%;
bottom: 46.81%;



/* Vector */

position: absolute;
left: 50.14%;
right: 42.15%;
top: 47.14%;
bottom: 46.81%;

background: #000000;


/* Group */

position: absolute;
left: 48.71%;
right: 50.07%;
top: 27.47%;
bottom: 70.86%;



/* Group */

position: absolute;
left: 48.71%;
right: 50.07%;
top: 27.47%;
bottom: 70.86%;



/* Vector */

position: absolute;
left: 48.71%;
right: 50.07%;
top: 27.47%;
bottom: 70.86%;

background: #000000;


/* Group */

position: absolute;
left: 48.72%;
right: 48.32%;
top: 26.87%;
bottom: 70.45%;



/* Group */

position: absolute;
left: 48.72%;
right: 48.32%;
top: 26.87%;
bottom: 70.45%;



/* Vector */

position: absolute;
left: 48.72%;
right: 48.32%;
top: 26.87%;
bottom: 70.45%;

background: #000000;


/* Group */

position: absolute;
left: 50.46%;
right: 48.51%;
top: 29.19%;
bottom: 66.62%;



/* Group */

position: absolute;
left: 50.46%;
right: 48.51%;
top: 29.19%;
bottom: 66.62%;



/* Vector */

position: absolute;
left: 50.46%;
right: 48.51%;
top: 29.19%;
bottom: 66.62%;

background: #000000;


/* Group */

position: absolute;
left: 50.46%;
right: 48.4%;
top: 33.06%;
bottom: 52.42%;



/* Group */

position: absolute;
left: 50.46%;
right: 48.4%;
top: 33.06%;
bottom: 52.42%;



/* Vector */

position: absolute;
left: 50.46%;
right: 48.4%;
top: 33.06%;
bottom: 52.42%;

background: #000000;


/* Group */

position: absolute;
left: 46.41%;
right: 52.55%;
top: 33.09%;
bottom: 65.59%;



/* Group */

position: absolute;
left: 46.41%;
right: 52.55%;
top: 33.09%;
bottom: 65.59%;



/* Vector */

position: absolute;
left: 46.41%;
right: 52.55%;
top: 33.09%;
bottom: 65.59%;

background: #000000;


/* Group */

position: absolute;
left: 46.69%;
right: 49.56%;
top: 34.2%;
bottom: 46.85%;



/* Group */

position: absolute;
left: 46.69%;
right: 49.56%;
top: 34.2%;
bottom: 46.85%;



/* Vector */

position: absolute;
left: 46.69%;
right: 49.56%;
top: 34.2%;
bottom: 46.85%;

background: #000000;


/* Group */

position: absolute;
left: 43.56%;
right: 53.96%;
top: 30.18%;
bottom: 67.29%;



/* Group */

position: absolute;
left: 43.56%;
right: 53.96%;
top: 30.18%;
bottom: 67.29%;



/* Vector */

position: absolute;
left: 43.56%;
right: 53.96%;
top: 30.18%;
bottom: 67.29%;

background: #000000;


/* Group */

position: absolute;
left: 43.51%;
right: 54.8%;
top: 32.59%;
bottom: 65.34%;



/* Group */

position: absolute;
left: 43.51%;
right: 54.8%;
top: 32.59%;
bottom: 65.34%;



/* Vector */

position: absolute;
left: 43.51%;
right: 54.8%;
top: 32.59%;
bottom: 65.34%;

background: #000000;


/* Group */

position: absolute;
left: 43.63%;
right: 54.69%;
top: 32.39%;
bottom: 65.36%;



/* Group */

position: absolute;
left: 43.63%;
right: 54.69%;
top: 32.39%;
bottom: 65.36%;



/* Vector */

position: absolute;
left: 43.63%;
right: 54.69%;
top: 32.39%;
bottom: 65.36%;

background: #000000;


/* Group */

position: absolute;
left: 45.16%;
right: 49.88%;
top: 28.95%;
bottom: 65.47%;



/* Group */

position: absolute;
left: 45.16%;
right: 49.88%;
top: 28.95%;
bottom: 65.47%;



/* Vector */

position: absolute;
left: 45.16%;
right: 49.88%;
top: 28.95%;
bottom: 65.47%;

background: #000000;


/* Group */

position: absolute;
left: 45.23%;
right: 51.95%;
top: 27.82%;
bottom: 69.18%;



/* Group */

position: absolute;
left: 45.23%;
right: 51.95%;
top: 27.82%;
bottom: 69.18%;



/* Vector */

position: absolute;
left: 45.23%;
right: 51.95%;
top: 27.82%;
bottom: 69.18%;

background: #000000;


/* Group */

position: absolute;
left: 45.85%;
right: 52.04%;
top: 29.5%;
bottom: 69.29%;



/* Group */

position: absolute;
left: 45.85%;
right: 52.04%;
top: 29.5%;
bottom: 69.29%;



/* Vector */

position: absolute;
left: 45.85%;
right: 52.04%;
top: 29.5%;
bottom: 69.29%;

background: #000000;


/* Group */

position: absolute;
left: 45.92%;
right: 51.27%;
top: 27.15%;
bottom: 70%;



/* Group */

position: absolute;
left: 45.92%;
right: 51.27%;
top: 27.15%;
bottom: 70%;



/* Vector */

position: absolute;
left: 45.92%;
right: 51.27%;
top: 27.15%;
bottom: 70%;

background: #000000;


/* Group */

position: absolute;
left: 46.41%;
right: 51.12%;
top: 26.29%;
bottom: 70.98%;



/* Group */

position: absolute;
left: 46.41%;
right: 51.12%;
top: 26.29%;
bottom: 70.98%;



/* Vector */

position: absolute;
left: 46.41%;
right: 51.12%;
top: 26.29%;
bottom: 70.98%;

background: #000000;


/* Group */

position: absolute;
left: 47.25%;
right: 50.6%;
top: 25.58%;
bottom: 72.84%;



/* Group */

position: absolute;
left: 47.25%;
right: 50.6%;
top: 25.58%;
bottom: 72.84%;



/* Vector */

position: absolute;
left: 47.25%;
right: 50.6%;
top: 25.58%;
bottom: 72.84%;

background: #000000;


/* Group */

position: absolute;
left: 49.05%;
right: 49.16%;
top: 24.8%;
bottom: 73.5%;



/* Group */

position: absolute;
left: 49.05%;
right: 49.16%;
top: 24.8%;
bottom: 73.5%;



/* Vector */

position: absolute;
left: 49.05%;
right: 49.16%;
top: 24.8%;
bottom: 73.5%;

background: #000000;


/* Group */

position: absolute;
left: 50.91%;
right: 47.48%;
top: 26.14%;
bottom: 72.35%;



/* Group */

position: absolute;
left: 50.91%;
right: 47.48%;
top: 26.14%;
bottom: 72.35%;



/* Vector */

position: absolute;
left: 50.91%;
right: 47.48%;
top: 26.14%;
bottom: 72.35%;

background: #000000;


/* Vector */

position: absolute;
left: 49.81%;
right: 40.24%;
top: 15.97%;
bottom: 73.05%;

border: 3px solid #000000;


/* Group */

position: absolute;
left: 51.59%;
right: 42.56%;
top: 18.23%;
bottom: 77.85%;



/* Group */

position: absolute;
left: 51.59%;
right: 42.56%;
top: 18.23%;
bottom: 77.85%;



/* Vector */

position: absolute;
left: 51.59%;
right: 42.56%;
top: 18.23%;
bottom: 77.85%;

background: #000000;


/* Group */

position: absolute;
left: 51.8%;
right: 43.38%;
top: 20.72%;
bottom: 75.47%;



/* Group */

position: absolute;
left: 51.8%;
right: 43.38%;
top: 20.72%;
bottom: 75.47%;



/* Vector */

position: absolute;
left: 51.8%;
right: 43.38%;
top: 20.72%;
bottom: 75.47%;

background: #000000;


/* Frame 5 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 16px;

position: absolute;
width: 336px;
height: 122px;
left: 1032px;
top: 619px;



/* Nenhuma mensagem encontrada */

width: 336px;
height: 58px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 120%;
/* or 29px */
text-align: center;

/* Gray/gray-500 */
color: #343A40;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Digite um texto que você deseja criptografar ou descriptografar. */

width: 336px;
height: 48px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* or 24px */
text-align: center;

/* Gray/gray-400 */
color: #495057;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Frame 6 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 40px;

position: absolute;
width: 120px;
height: 48px;
left: 40px;
top: 40px;



/* Logo */

width: 120px;
height: 48px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 36.67%;
right: 37.43%;
top: 0%;
bottom: 0%;

/* Dark blue/dark-blue-300 */
background: #0A3871;


/* Menu */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 24px;
gap: 10px;

display: none;
width: 120px;
height: 176px;

background: rgba(255, 255, 255, 0.24);
border-radius: 800px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Menu */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 24px;
gap: 10px;

display: none;
width: 120px;
height: 176px;

background: rgba(255, 255, 255, 0.24);
border-radius: 800px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
