body, html {
    display: grid;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.caixa-centro { 
    width: 95%;
    height: 90%;
    padding-left: 5%;
}

.retangulo {
    align-items: center;
    border-radius: 32px;
    margin-left: 5%;
    width: 40%;
    height: 100%;
}

#caixa-esquerda {
    width: 55%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#caixa-esquerda textarea {
    width: 100%;
    height: 92%;
}

.test {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.oculto {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    
}

.botoes, .botao{
    gap: 24px;
    width: 100%;
    height: 80px;
    left: 240px;
    top: 885px;
}

#caixa-esquerda button {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    width: 383px;
    height: 67px; 
}

.copy {
    padding: 1%;
}