/*WIP*/

body, html {
    background-color:#F3F5FC;
    margin: 0 auto;
    /* padding-left: 5%; */
    
    display: grid;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;

    cursor: url('./../img/normal_select_fast.gif'), auto;

}

.retangulo {
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    margin-left: 5%;

    width: 40%;
    height: 100%;
}

.retangulo img{
    width: 100%;
    height: 100%;
}

#caixa-esquerda {
    width: 55%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#caixa-esquerda textarea {
    flex: 1;
    width: 100%;
    height: 92%;
    box-sizing: border-box;

    border: none;
    outline: none;
    resize: none;
    background-color: transparent;
    
    color: #0A3871;
    font-style: bold;
    font-family: Inter;
    font-size: 32px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0em;
    line-height: 150%;

    cursor: url('./../img/text_select.gif'), auto;
}

#caixa-esquerda textarea::placeholder {
    color: #0A3871;
    font-style: bold;
    font-family: Inter;
    font-size: 32px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0em;
    line-height: 150%;
}

#oculto textarea {
    text-align: left;
    vertical-align: top;

    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    height: 100%;
    flex: 1;
    box-sizing: border-box;

    color:#495057;
    font-style: bold;
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    
    border: none;
    outline: none;
    resize: none;
    background-color: transparent;
}

.revelado {
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0;
}

.test {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.oculto {
    display:none;
    width: 100%;
    height: 100%;
    text-align: left;
    vertical-align: top;
    box-sizing: border-box;
    
}

.caixa-centro { 
    display: flex;
    justify-content: center;
    
    width: 95%;
    height: 90%;
    padding: 0px;
    padding-left: 5%;
    box-sizing: border-box;
}

.botoes, .botao{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 24px;

    width: 100%;
    height: 80px;
    left: 240px;
    top: 885px;

    box-sizing: border-box;
}

#caixa-esquerda button {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;

    width: 383px;
    height: 67px; 
}

#cript {
    background: #0A3871;
    border: 1px solid #D8DFE8;

    border-radius: 24px;

    width: 280px;
    height: 19px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;

    cursor: url('./../img/link_select.gif'), auto;
    transition: background-color 0.3s, color 0.3s;
}

#cript:hover {
    background-color: #11498d;
    color: #c3c2d4;
}

#descript {
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;

    width: 280px;
    height: 19px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #0A3871;

    cursor: url('./../img/link_select.gif'), auto;
    transition: background-color 0.3s, color 0.3s;
}

#descript:hover {
    background-color: #bcc4cf;
    color: #175096;
}

#placeholder {

    padding: 0px;
    gap: 8px;
    
    color: #495057;
    opacity: 0.8;
    
    width: 252px;
    height: 18px;
    left: 240px;
    top: 851px;

    flex: none;
    order: 0;
    flex-grow: 0;

    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    width: 228px;
    height: 18px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
}

.exclam {
    width: 16px;
    height: 16px;

    align-items: center;
    vertical-align: middle;

    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
}

.alerta {
    align-items: center;
    vertical-align: middle;
}

.entrada {
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    box-sizing: border-box;
}

.copy {
    padding: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#copiar {
    background: #ffffff;
    border: 1px solid #0A3871;

    border-radius: 24px;

    width: 383px;
    height: 67px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #0A3871;

    cursor: url('./../img/link_select.gif'), auto;
    transition: background-color 0.3s, color 0.3s;
}

#copiar:hover {
    background-color: #c3c2d4;
    color: #11498d;
}
